:root {
    --primary-color: #F27A1A;
    --account-link-color: #333;
    --account-link-hover-color: var(--primary-color);
    --paragraph-font:  'Source Sans Pro', sans-serif;
}

h4 {
    padding: 0;
    margin: 0;
}

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-banner {
    display: block;
    width: 100%;
    margin: 0;
}

.top-banner > img {
    width: inherit;
    height: 96px;
}

.container {
    /* width: 1080px; */
    margin: 0 auto;
}
main {
    border-top: 1px solid #e8e8e8;
    width: 100%;
    margin: 0;
}
.page-content {
    width: 1080px;
    margin: 0 auto;
}
header{
    /* margin-bottom: 30px; */
    width: 1080px;
    margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.header-links a {
  color: #999999;
  font-size: 12px;
}
.header-links a:hover {
  color: #666666;
}

.logo-search-account-container {
  display: grid;
  grid-template-columns: 140px 1fr 335px;
  margin-top: 10px;
}

.search {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 41px;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid transparent;
}
.search:hover {
  border: 1px solid var(--primary-color);
  position: relative;
}
.search:hover .search-autocomplete {
  display: block;
  border: 1px solid var(--primary-color);
}
.search input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
}
.search button {
  background: none;
  border: none;
}
/* Search Auto Complete */
.search-autocomplete {
  display: none;
  position: absolute;
  background: #ffffff;
  width: 600px;
  height: 167px;
  top: 37px;
  left: 0px;
  border: 1px solid var(--primary-color);
  border-radius: 0px 0px 6px 6px;
  padding: 17px 17px 18px 18px;
  z-index: 999;
}
.results {
  display: flex;
  flex-direction: column;
}

.result-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  align-items: center;
}
.result-title .title-main {
  color: var(--primary-color);
  font-size: 12px;
  line-height: 15px;
}
.result-title .clear {
  color: var(--account-link-color);
  font-size: 12px;
  line-height: 15px;
}
.results a {
  color: var(--account-link-color);
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  height: 20px;
  align-items: center;
}
.results a:hover {
  background-color: #f3f3f3;
}
/* ------------------------------------------ */
.account-list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 12px;
}

.account-list li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--account-link-color);
}

.account-list li a:hover {
  color: var(--primary-color);
}

.account-list li a:hover svg path {
  fill: var(--account-link-hover-color);
}

.user-menu {
    display: none;
    width: 170px;
    height: 289px;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    font-size: 14px;
    line-height: 18px;
    z-index: 9999999999;
}
.user-menu li {
  margin-bottom: 12px;
}
.account-list li:first-child {
  color: var(--primary-color);
  margin-bottom: 12px;
}
.account-list li:hover {
  position: relative;
}
.account-list li:hover .user-menu {
  display: block;
  position: absolute;
  z-index: 999;
  top: 16px;
  left: -60px;
  top: 100%;
}

/*Category Navbar*/
.nav{
    /* border-bottom: 1px solid #e8e8e8; */
    height: 34px;
    width: 1080px;
    margin: 0 auto;
}

.nav .main-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav .main-nav .tablink {
  text-align: center;

  white-space: nowrap;
  padding-left: 21px;
  padding-right: 21px;
  cursor: pointer;
}
.nav .main-nav:first-child {
  padding-left: 0;
}
.nav .main-nav .tablink:hover {
  border-bottom: 2px solid var(--primary-color);
}
.nav .main-nav .tablink:hover .category {
  color: var(--primary-color);
}
.nav .main-nav .tablink .category {
  letter-spacing: 0.18px;
  color: var(--account-link-color);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.nav {
  position: relative;
}
.main-nav .tablink:hover .tablink-dropdown {
  display: block;
}
/* Main Nav DropDown */
.tablink-dropdown {
  margin-top: 14px;
  display: none;
  position: absolute;
  width: 1080px;
  height: 340px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  top: 19px;
  left: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
.tablink-dropdown-category-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tablink-dropdown-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
}
.tablink-dropdown-category ul {
  padding-left: 20px;
}
.tablink-dropdown-category ul li {
  font-size: 13px;
}
.tablink-dropdown-category ul li:not(:first-child) a {
  color: #666;
}
.tablink-dropdown-category ul li:hover a {
  border-bottom: 0.3px solid var(--primary-color);
  color: var(--primary-color);
}

.category-title {
  font-size: 16px;
  color: var(--account-link-color);
}
.category-title:hover {
  color: var(--primary-color);
}

.tablink-dropdown-category-card {
  height: 120px;
  width: 300px;
  background-color: gray;
}
.tablink-dropdown-category-card a img {
  height: 120px;
  width: 300px;
}

/* ------------------------------------------------- */
/* Circles */
.circles {
  display: flex;
  justify-content: space-between;
  height: 110px;
  font-size: 12px;
  text-align: center;
  line-height: 15.08px;
}
.circles .circle {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: gray;
}
.circles .circle div a {
  display: flex;
  flex-direction: column;
}
.circles .circle div a img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.circles .circle div a span {
  color: var(--account-link-color);
}
/* Main Carts  */

.main-carts {
  margin-top: 32px;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.main-carts .left-side {
  display: flex;
  flex-direction: column;
}
.main-carts .left-side .left-side-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  height: 310px;
  width: 750px;
  border: 1px solid transparent;
  cursor: pointer;
  /* background: #f27a1a; */
}

.main-carts .left-side .left-side-card .image {
  height: 100%;
  width: 100%;
}
.main-carts .left-side .left-side-card .image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.card-link {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  background-color: black;
  align-items: center;
  font-size: 14px;
}

.card-link .left-link span {
  display: flex;
  height: 30px;
  color: white;
  padding-left: 20px;
  align-items: center;
  font-size: 14px;
}

.left-side-card:hover .card-link {
  background-color: var(--primary-color);
}

.left-side-card:hover {
  border: 1px solid #ff671d !important;
}

.main-carts .left-side .left-side-card .card-link .right-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding-right: 10px;
}

.main-carts .right-side {
  display: flex;
  flex-direction: column;
}
.main-carts .right-side .right-side-card {
  margin-bottom: 15px;
  height: 330px;
  width: 310px;
  background: gray;
}

/* ----------------------------------------- */
